.bit{
	font-size: 33px;
	font-style: cursive;
	width: 300px;
}
.bitname{
	font-size: 30px;
}
.nameinput{
	size: 300px;
	border-radius: 5px;
	width: 300px;

}
.telefoonnumerinput{
	size: 300px;
	border-radius: 5px;
	width: 300px;
}
.emailinput{
	size: 300px;
	border-radius: 5px;
	width: 300px;
}
.pininput{
	size: 300px;
	border-radius: 5px;
	width: 300px;
}
.submitbutton{
	size: 100px;
	background-color: grey;
	border-radius: 5px;
	width: 300px;
}